<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
    <title>{% block title %} {% endblock %}</title>
    {% block head %} {% endblock %}
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        {% if 'user_id' in request.session %}
            <a href="{% url 'users:index' %}" class="btn btn-primary">Users Home</a>
            <h1 style="color:white;">{% block nav %}{% endblock %}</h1>
            <a href="{% url 'users:logout' %}" class="btn btn-dark">Logout</a>
        {% else %}
            <h1>Welcome to the Wish List!</h1>
        {% endif %}
    </nav>
    <div class="container">
        {% block body %} {% endblock %}
    </div>
</body>
</html>